@font-face {
    font-family: 'Verdana', sans-serif;
    src: url('../Fonts/Verdana.ttf');
}
body {
     background: url(../images/background.png) no-repeat;
     font-family: 'Verdana', sans-serif;
     background-position: center;
     margin: 0 auto;
 }
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.conteiner {
    width: 1064px;
    margin: 0 auto;
}
.head {
    padding-top: 49px;
    width: 1064px;
}
.logo-img {
    float: left;
    width: 44px;
    height: 46px;
    background-image: url("../images/logo.png");
    margin-right: 15px;
}
.logo-link {
    display: block;
    width: 166px;
    height: 44px;
    float: left;
    font-weight: 700;
    color: #ffffff;
    line-height: 21px;
    text-decoration: none;
}
.text-logo1 {
    font-size: 29px;
    width: 104px;
    height: 22px;
    margin: 0;
    float: left;
}
.text-logo2 {
    font-size: 18px;
    width: 105px;
    height: 13px;
    margin: 5px 0;
    float: left;
}
.logo-link:hover {
    color: #f26522;
}
.logo-link:hover .logo-img {
    background-image: url("../images/logo2.png");
    background-position: -76px -10px;
    color: #f26522;
}
.contact {
    box-sizing: border-box;
    float: right;
}
.e-mail-top {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    float: right;
}
.tel-top {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    margin: 5px 0;
    float: right;
    clear: both;
}
.e-mail-top:hover, .tel-top:hover {
    color: #f26522;
}
/*cotnent*/
.content {
    display: block;
}

.milan-tour {
    float: left;
    margin-top: 48px;
    margin-right: 65px;
    display: block;
    position: relative;
    text-decoration: none;
    /*overflow: hidden;*/
}
.box-name {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
}
.box-tour-img {
    border: 2px solid #000000;
    background-color: #ffffff;
    position: relative;

    border-top: 2px solid transparent;
    border-right: 2px outset transparent;
    border-left: 2px inset transparent;
    box-shadow: 0 19px 26px 0 #000000;
    -moz-border-image: -moz-linear-gradient(top, #dddddd 0%, #050e00 100%);
    -webkit-border-image: -webkit-linear-gradient(top, #dddddd 0%, #050e00 100%);
    border-image-slice: 1;

}
.hover-price {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    margin-left: 21px;
    margin-top: 16px;
    float: left;
}
.hover-price p:nth-child(2n) {
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}
.hover-view p{
    color: #ffffff;
    font-size: 14px;
    margin-left: 15px;
    margin-top: 30px;
}
.hover-view {
    float: right;
}
.hover-box {
    box-sizing: border-box;
    position: absolute;
    background-color: #f26522;
    overflow: hidden;
    width: 310px;
    height: 63px;
    top: 141px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0.3s;
 }
.milan-tour:hover .box-name {
    cursor: pointer;
    color: #f26522;
}
.milan-tour:hover .hover-box {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}
.milan-tour:nth-child(3n) {
    margin-right: 0;
}
.view::after {
    content: "\203A";
    margin-left: 15px;
    margin-right: 18px;
    font-size: 18px;
}
/*footer {*/
    /*text-align: center;*/
/*}*/
.footer-box {
    margin-top: 40px;
    margin-bottom: 21px;
    float: left;
    width: 100%;
    text-align: center;
}

.footer-copyrigh {
    color: #ffffff;
    font-size: 12px;
    font-weight: 400
}